div {
    position: absolute;
    padding: 0;
    margin: 0;
}

div#element-red,
div#element-gray,
div#element-yellow {
    width: 50px;
    height: 50px;
    top: 50px;
}

div#element-red {
    background-color: red;
    left: 30px;
}

div#element-gray {
    background-color: gray;
    left: 100px;
}

div#element-yellow {
    background-color: yellow;
    left: 170px;
}

div#area-red,
div#area-gray,
div#area-yellow {
    width: 50px;
    height: 50px;
    top: 120px;
}

div#area-yellow {
    border: 3px solid yellow;
    left: 10px;
}

div#area-red {
    border: 3px solid red;
    left: 100px;
}

div#area-gray {
    border: 3px solid gray;
    left: 190px;
}